<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveit > 0,
                'list-group-item-danger': loveit < 0}">
  <div class="modal-title">
    <h4 class="col-md-3 col-lg-3">MAJ : {{lastupdate | date: 'dd/MM/yyyy hh:mm'}}</h4>
    <h1 class="col-xs-6 col-md-3 col-lg-3">{{title}}</h1>

  </div>
  <div>
    <p>{{content}}</p>
  </div>
  <button class="btn btn-success" (click)="onlove()"> Love it</button>
  <button class="btn btn-danger" (click)="ondont()"> Don't love it</button>
</li>

